
/* REVOIR LE TEXT SHADOW A LA MAISON */
body{
    background-color: rgb(217, 217, 217);
    background-image: url(images/ge\ elites\ \(2\).png);
    background-size:contain;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    
}   


.liste{
    color: rgb(66, 235, 71);
}  


 h1, h2{
    
    font-family: "Momo Signature", cursive;
    font-size: 1.4em;
    font-weight: bold;
    font-style:italic ;
    font: italic bold 1.4em "Momo Signature", cursive;
    text-decoration-color: rgb(123, 0, 255);
    text-decoration:dotted underline 5px red ;
    letter-spacing:0.2cap;
    text-align: center;
    text-shadow:0px 0px 4px rgb(251, 255, 0);
    background-color: rgb(29, 32, 164);
    border-radius: 30px;
    display: inline-block;
    text-align: center;




}

p{
    text-align: justify;
    text-indent: 20px;
    white-space:initial;
}

h1{
    color: rgb(255, 0, 0);
}






/* use google font for additional fonts for web desingn */